<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>场景创作</title>
	<link rel="stylesheet" type="text/css" href="../css/creation/creation.css">
	<!--[if IE 7]><link rel="stylesheet" href="../css/creation/IE.css" type="text/css" media="screen"><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="../css/creation/IE.css" type="text/css" media="screen"><![endif]-->
</head>
<body>
<div class="header" id="header">
		<div class="nav">
		<!-- logo -->
			<div class="logo fl">
				<a href="../index.html">
					<img src="../images/logo.png">
				</a>
			</div>
			<!-- 导航信息条 -->
			<div class="nav-list fl">
				<ul id="list">
					<li>
						<a href="./creation.html">
							场景创作
						</a>
						<div class="line"></div>
					</li>
					<li>
						<a href="#">
							精品推荐
						</a>
						<div class="line"></div>
					</li>				
					<li>
						<a href="./tribe.html">
							设计部落
						</a>
						<div class="line"></div>
					</li>				
					<li>
						<a href="#">
							帮助中心
						</a>
						<div class="line"></div>
					</li>
				</ul>
			</div>
			<!-- 搜索 -->
			<div class="index_search fl">
				<div class="search-outer fr" id="magnifier">
					<input type="text" placeholder="搜索" id="mag_input">
					<img id="img" src="../images/magnifier.png">
				</div>
			</div>
			<!-- 注册登录 -->
			<div class="login-sign fr">
				<a href="./login.html">登陆 LOGIN</a>  <span>|</span>  <a href="./regist.html">注册 SIGN UP</a>
			</div>
			<div class="cl"></div>
		</div>
</div>
<!-- top -->
<div class="top">
	<h2>选择创作场景</h2>
	<div class="H5">
		<ul class="imgs" id="hover">
			<li>
				<a href="#">
					<img src="../images/creation/1.png">
				</a>
				<p>企业招聘</p>
			</li>			
			<li>
				<a href="#">
					<img src="../images/creation/2.png">
				</a>
				<p>企业宣传</p>
			</li>			
			<li>
				<a href="#">
					<img src="../images/creation/3.png">
				</a>
				<p>品牌推广</p>
			</li>			
			<li>
				<a href="#">
					<img src="../images/creation/4.png">
				</a>
				<p>数据报告</p>
			</li>			
			<li>
				<a href="#">
					<img src="../images/creation/5.png">
				</a>
				<p>电子商务</p>
			</li>
			<div class="cl"></div>
		</ul>
	</div>
	<div class='free' id="free">
		<a href="#">自由创作</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">期刊制作<span><img src="../images/creation/new.png"></span></a>
	</div>
	<div class="suspendRow">
		<img src="../images/index/suspend_row.png" id="suspendRow">
	</div>
	<div class="items">
		<ul class="modesItems comWidth">
			<li><span class="span">模板分类：</span></li>
			<li><a href="#" style="border-bottom: 1px solid #fff">全部</a></li>
			<li><a href="#">商业</a></li>
			<li><a href="#">微杂志</a></li>
			<li><a href="#">邀请函</a></li>
			<li><a href="#">祝福卡片</a></li>
			<li><a href="#">相册</a></li>
			<li><a href="#">文艺</a></li>
			<div class="cl"></div>
		</ul>

	</div>
	<!-- 固定导航条 -->
	<ul class="susBar" id="susBar">
		<li>
			<a href="##" id="scRoll">
				<img src="../images/index/rowUp.png">
			</a>
		</li>
		<li>
			关注<br>我们
			<img src="../images/contactUs/1.png">
		</li>
		<li>
			下载<br>APP
			<img src="../images/contactUs/2.png">
		</li>
		<li>
			问题<br>反馈
			<img src="../images/contactUs/3.png">
		</li>
		<li style="border:0;">
			商务<br>合作
			<img src="../images/contactUs/5.png">
		</li>
	</ul>
</div>
<!-- 内容 -->
<div class="content">
	<ul class="cont" id="cont">
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/01.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/02.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/03.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/0
					4.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/05.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/06.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/07.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/08.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/09.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/010.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/011.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
		<li>
			<div class='contImg'>
				<a href="#">
					<img src="../images/creation/012.png">
				</a>
				<p class="one">品浪漫西餐</p>
				<p class="two">ME助手</p>
				<p class="btn">使用模板</p>
			</div>
			<div class="lineOne comLine"></div>
			<div class="lineTwo comLine"></div>
		</li>
	</ul>
</div>
</body>
<script type="text/javascript" src='../js/creation.js'>
</script>
<script type="text/javascript" src='../js/public.js'></script>
</html>