<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>登陆</title>
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<link rel="stylesheet" type="text/css" href="../css/public.css">
</head>
<body>
<!-- 头部导航条 -->
<div class="background">
	<div class="header" id="header">
		<div class="nav">
		<!-- logo -->
			<div class="logo fl">
				<a href="../index.html">
					<img src="../images/logo.png">
				</a>
			</div>
			<!-- 导航信息条 -->
			<div class="nav-list fl">
				<ul id="list">
					<li>
						<a href="./creation.html">
							场景创作
						</a>
						<div class="line"></div>
					</li>
					<li>
						<a href="#">
							精品推荐
						</a>
						<div class="line"></div>
					</li>				
					<li>
						<a href="./tribe.html">
							设计部落
						</a>
						<div class="line"></div>
					</li>				
					<li>
						<a href="#">
							帮助中心
						</a>
						<div class="line"></div>
					</li>
				</ul>
			</div>
			<!-- 注册登录 -->
			<div class="login-sign fr">
				<a href="./login.html">登陆 LOGIN</a> &nbsp; <span>|</span> &nbsp; <a href="./regist.html">注册 SIGN UP</a>
			</div>
			<div class="cl"></div>
		</div>
		<!-- 内容 登陆框 -->
	</div>
	<div class="content">
		<ul class="input">
			<li>
				<img src="../images/shouji.png">
				<input type="text" name="number" placeholder="输入手机号" id="number">
			</li>			
			<li>
				<img src="../images/mima.png">
				<input type="password" name="pass" placeholder="请输入密码" id="password">
			</li>			
			<li>
				<button id="btn" class="log-btn"><span class="login-word" id="text">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</span></button>
			</li>
		</ul>
				<a href="#" class="aFor aPub">忘记密码</a>
				<a href="./regist.html" class="aReg aPub">立即注册</a>
			<br>
			
				<img src="../images/OR.png">
		<br>
		
				<button class="weChat" id="weChat">
				<a href="../images/wechat.png">
					<img src="../images/weixin.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span>微信登陆</span>
				</a>
				</button>
		<br>
			<ul class="img-contact">
				<li>
					<img src="../images/qq.png">
					<p>QQ登录</p>
				</li>
				<li class="middle">
					<img src="../images/weibo1.png">
					<p>微博登录</p>
				</li>
				<li>
					<img src="../images/weibo.png" style="margin-bottom:8px;">
					<p>微盟账号登录</p>
				</li>
				<div class="cl"></div>
			</ul>
	</div>
		<p class="login-footer">
			提示：推荐使用 <span>谷歌Chrome</span> 、<span>360极速</span> 、<span>QQ浏览器</span> （V9.1及以上版本）进行操作
		</p>
</div>
</body>
<script src='../js/public.js'></script>
<script src='../js/login.js'></script>
</html>