a{
	color: #000;
}
p{
	font-size: 14px;
}
.content{
	background-color: #F4F4F4;height: 1500px;
}
.info_banner{
	float:left;width: 932px;height: 1500px;
}
.info_banner>li{
	animation:suspend 1s ease infinite;-webkit-animation:suspend 2s ease infinite;width: 854px;height:96px;transition:background margin-top 4s;margin-bottom:16px;background-color: rgb(255,255,255);padding: 12px 18px 12px 60px;box-shadow: 0 0 15px 5px rgba(136,156,176,.1);overflow: hidden;
}
.info_left{
	width: 50px;height: 50px;margin-top:10px;border-radius: 25px;overflow: hidden;
}
.info_left>a>img{
	width: 50px;height: 50px;border: 0;transition: all 0.2s;
}
.info_imgs{
	height:96px;
}
.info_imgs a{
	display: inline-block;visibility:visible;padding:0 10px;width: 96px;height: 96px;vertical-align: middle;overflow: hidden;
}
.info_imgs>a>img{
	width: 96px;height: auto;border: 0;transition: all 0.2s;
}
.wholeLine{
	width: 832px;height: 170px;padding-top: 12px;
}
.wholeLine>p{
	padding-left: 70px;width: 700;font-size: 12px;margin-bottom: 25px;
}
.wholeImgs>li{
	float: left;padding:0 10px;cursor:pointer;width: 96px;height: 96px;vertical-align: middle;overflow: hidden;
}
.wholeImgs>li>img{
	width: 96px;height: auto;border: 0;
}
.downRow{
	position:relative;left: 2px; top:18px;cursor: pointer;display: inline-block;padding: 20px;
}
.info{
	height: 80px;padding-top: 10px;width:300px;
}
.info_right{
	padding-left: 20px;padding-top: 2px;
}
.info_right>p{
	padding-bottom: 6px;
}
.info_right>p>img{
	vertical-align: middle;margin-top: -3px;margin-right: 5px;
}
.smP{
	font-size: 12px;
}
.sideBar{
	width: 170px;height: 280px;padding:18px 24px 20px;background:#fff;box-shadow:0 0 3px #ccc;font-size: 14px;
}
.sideBar>p{
	padding-bottom: 8px;
}
.sideBar>ul>li>a{
	color: #9F9F9F;font-size: 12px;display: inline-block;padding: 6px;
}
.sideBar>ul>li>a:hover{
	background-color: #000;color: #fff;
}
.sideBar>ul>li{
	padding-bottom: 5px;
}
.sideBar_left{
	width: 66px;
}
.sideBar_right{
	width: 66px;
}
.info_imgs>a>img:hover{
	opacity: 1;
}
.wholeImgs>li>img:hover{
	opacity: 0.5;
}
.spLi:hover{
	transform: translateY(-2px);
	background: -webkit-linear-gradient(top,rgba(192,192,192,.5),rgba(255,255,255,1));
}
.spLi{
	cursor: pointer;
}
/*@keyframes suspend
{
	0%{margin-top: -1px;}
	15%{margin-top: 0px;margin-left: 0px;}
	40%{margin-top: 1px;margin-left: 0px;}
	60%{margin-top: 0px;margin-left: 0px;}
	80%{margin-top: 1px;margin-left: 0px;}
	100%{margin-top: 0px;margin-left: 0px;}
}*/